#EXTM3U

#EXTINF:-1 , SIC 
http://88.157.194.246/live/ramdisk/zsic/HLS/zsic.m3u8 
#EXTINF:-1,TVI [/COLOR] 
http://video-live.iol.pt:1935/live_tvi/smil:LIVE_TVI/chunklist_w787106714_b814000.m3u8
#EXTINF:-1 ,TVI [/COLOR] 
http://video-live.iol.pt:1935/live_tvi/smil:LIVE_TVI/playlist.m3u8 
#EXTINF:-1 ,TVI [/COLOR] 
http://88.157.194.246/live/ramdisk/ztvi/HLS/ztvi.m3u8 
#EXTINF:-1, TVI 24 [/COLOR] 
http://video-live.iol.pt:1935/live_tvi24/smil:LIVE_TVI24/playlist.m3u8 
#EXTINF:-1, Reality - A QUINTA 
http://62.210.82.241:1935/liverepeat/TVIReality24/live.m3u8 

#EXTINF:-1,SIC
 http://brodcast-2.zuneserver.com:10007/live/jose/S5mmy0qZdM/5.ts

#EXTINF:-1 tvg-id="sic.pt" tvg-logo="https://raw.githubusercontent.com/adrianoafonso/myIPTVchannels/master/Logos/SIC.png",SIC
http://213.13.26.11:1935/live/sic/cookiemonster.m3u8 
#EXTINF:-1 tvg-id="sic.pt" tvg-logo="https://raw.githubusercontent.com/adrianoafonso/myIPTVchannels/master/Logos/SIC.png",SIC 
http://88.157.194.246/live/ramdisk/zsic/HLS/zsic.m3u8 
#EXTINF:-1 tvg-id="tvi.pt" tvg-logo="https://raw.githubusercontent.com/adrianoafonso/myIPTVchannels/master/Logos/TVI.png",TVI
http://video-live.iol.pt:1935/live_tvi/smil:LIVE_TVI/playlist.m3u8 
#EXTINF:-1 tvg-id="tvi.pt" tvg-logo="https://raw.githubusercontent.com/adrianoafonso/myIPTVchannels/master/Logos/TVI.png",TVI 
http://88.157.194.246/live/ramdisk/ztvi/HLS/ztvi.m3u8 
#EXTINF:-1,Sic Noticias 
http://213.13.26.12:1935/live/sicnoticias/cookiemonster.m3u8 

#EXTINF:-1,Cancao Nova 
http://cnhls-lh.akamaihd.net/i/cnhls_1@147036/master.m3u8 

#EXTINF:-1 tvg-id="TVI24.pt" tvg-logo="http://www.thelogodb.com/images/media/logo/wtysqy1436898428.png" group title="Portugal",TVI24 [FSD]
http://video-live.iol.pt:1935/live_tvi24/smil:LIVE_TVI24/playlist.m3u8 
